.feature_two_illustration {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  .div_one {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 200px;
      height: 200px;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .div_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    padding-left: 2em;
    gap: 1em;
    //text-align: center;
// background: rgba(255, 255, 255, 0.06);
// border-radius: 10px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// backdrop-filter: blur(0px);
// -webkit-backdrop-filter: blur(0px);
// border: 1px solid rgba(255, 255, 255, 0.04);
    p {
      font-size: 1em;
    }
  }
}
@media (min-width: 487px) and (max-width: 786px) {
  .feature_two_illustration {
    flex-direction: row;
    .div_one {
      img {
        width: 300px;
      }
    }
    .div_two{
        text-align: left;
    }
  }
}
@media (min-width: 787px) {
  .feature_two_illustration {
    flex-direction: row;
    justify-content: space-around;
    .div_one {
      img {
        width: 360px;
        height: 300px;
      }
    }
    .div_two {
        text-align: left;
      font-size: 1.3em;
      width: 40%;
    }
  }
}
// @media (min-width: 787px) and (max-width: 1024px) {
//     .feature_two_illustration{
//         flex-direction: row;
//         .div_one{
//             img{
//                 width: 360px;
//                 height: 300px;
//             }
//         }
//     }
// }
// @media (min-width: 1025px) and (max-width: 1200px) {
//     .feature_two_illustration{
//         flex-direction: row;
//         .div_one{
//             img{
//                 width: 360px;
//                 height: 360px;
//             }
//         }
//     }
//     }
