.feature_one_illustration {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 0.5em;
  .div_one,
  .div_two,
  .div_three,
  .div_four {
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.14);
  }
  .div_one {
    justify-content: space-between;
    img {
      max-width: 3em;
      max-height: 3em;
      border-radius: 50%;
    }
    p{
        width: 80%;
    }
  }
  .div_three {
    gap: 5%;
    .meter {
      width: 70%;
      height: 100%;
      padding: 0 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: rgba(255, 255, 255, 0.04);
      border-radius: 10px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        i {
          font-size: 0.6em;
          width: 20%;
        }
        meter {
          width: 70%;
        }
        meter::-webkit-meter-optimum-value {
          background: #816dee;
        }
        meter::-moz-meter-bar {
          background: #816dee;
        }
      }
    }
    .score {
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        margin-top: 0.3em;
        color: #816dee;
        svg {
          font-size: 0.8em;
          margin-right: 0.3em;
        }
      }
    }
  }
  .div_two,
  .div_four {
    display: none;
  }
}
@media (min-width: 487px) {
  .feature_one_illustration {
    font-size: 18px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    .div_one{
        padding-left: 2em;
    }
    .div_three{
        .score{
            strong{
                font-size: 2em;
                &:nth-child(2){
                    font-size: 1em;
                }
            }
            span{
                font-size: 1.2em;
                margin-top: 1em;
                svg{
                    margin-left: 0.3em;
                }
            }
        }
    }
    .div_two,
    .div_four {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .div_two {
      & > div:nth-child(1) {
        width: 11em;
        height: 11em;
        font-size: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .progress_bar {
        display: flex;
        justify-content: center;
        align-items: center;
      
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
          radial-gradient(closest-side, #030841 79%, transparent 80% 100%),
          conic-gradient(#816dee 55%, #acacac 0);    
          &::before{
            content: 'Analysing...';
          }
      }
      
    }
    .div_four {
      img {
        width: 7em;
        height: 7em;
      }
    }
  }
}
