@import "../../mixins/fancy_button.scss";
.features {
  width: 100%;
  max-width: 1800px;
  padding: 0 1em;
  font-size: 1rem;
  color: var(--text-color-primary);
  h1 {
    font-size: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin: auto;
  }
  .feature_one {
    .feature__heading_illustration {
      background-image: url("../../../public/assests/images/feature_bg1.svg");
    }
  }
  .feature {
    padding: 1em 1em 2em 1em;
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
    @include fancy_button;
    .feature__heading_illustration {
      background-color: #000003;
      font-size: 1em;
      h2{
        padding-top: 0.5em;
        padding-left: 0.5em;
      }
    }
    .feature_description {
      display: none;
    }
    button {
      margin-left: 1em;
      margin-top: 2em;
    }
  }
}
@media (min-width: 487px) and (max-width: 1200px) {
  .features {
    font-size: 1.2rem;
    h1 {
      text-align: center;
    }
  }
}
@media (min-width: 1201px) {
  .features {
    font-size: 1.4rem;
    .feature {
      width: 90%;
     .feature__heading_illustration{
      h2{
        width: 50%;
      }
     }
      .feature_description {
        display: block;
        font-size: 0.8em;
        margin-top: 1em;
      }
      button{
        margin-left: 0;
      }
    }
  }
}
// @media (min-width: 787px) and (max-width: 1024px) {

// }
// @media (min-width: 1025px) and (max-width: 1200px) {

// }
